<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/css/admin.css" rel="stylesheet" type="text/css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>User Leaderboard Report</title>
</head>

<body>
<div class= "background parallax">
<div class="container">
    <div class="row ">
        <div class="col mt-3">
            <h1 style="color: white" >CommonId: <%= data.commonId %> </h1>
            
            <div class="row ">
                <div class="col mt-3">
                    <div class="card">
                        <h5 class="card-header">Leaderboard </h5>
                        <div class="card-body">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Name</th>
                                        <th scope="col">ID</th>
                                        <th scope="col">Wealth</th>
                                        <th scope="col"># Cows</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% data.users.forEach(result=>{ %>
                                    <tr>
                                        <td scope=""row><%= result.firstName + " " + result.lastName %></td>
                                        <td scope=""row><%= result.id %></td>
                                        <td scope=""row><%= result.wealth %></td>
                                        <td scope=""row><%= result.cows %></td>
                                    </tr>
                                    <% }); %>
                                </tbody>
                            </table>
                        </div>
                    </div>
    
                </div>
            </div>
            
    <div class="row mt-3">
        <div class="col">
            <div class="card">
                <h5 class="card-header">Dates</h5>
                <div class="container">
                    <div class="row ">
                        <div class="col">
                            <table class="table table-striped">
                                <thead>
                                    <th scope="col">Start Date</th>
                                    <th scope="col">End Date</th>
                                </thead>
                                <tbody>
                                        <td>
                                            <%= data.startDate %>
                                        </td>
                                        <td>
                                            <%= data.endDate %>
                                        </td>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
            <div class="col">
                <div class="card">
                    <h5 class="card-header">Average Cow Health</h5>
                    <div class="container">
                        <div class="row ">
                            <div class="col">
                                <table class="table table-striped">
                                    <tbody>
                                            <td>
                                                <%= data.cowAvgHealth %>
                                            </td>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
</div>
<div class= "background3 parallax"></div>
</body>
<div class= "background4 parallax"></div>
</body>
<div class= "background5 parallax"></div>
</body>



<%- include("footer") %>
